# Configuration
.env
.envrc

# IDE
.idea/**
.vscode/

# System files
*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
**/__pycache__/
build/
dist/

# Models & Data
**/data/
*.csv
*.pkl
**/weights/
**/checkpoints/

# Docker
docker_volume/
